asgiref==3.11.0
beautifulsoup4==4.14.3
dj-database-url==3.0.1
Django==5.2
django-cockroachdb==5.2
djangorestframework==3.16.1
docx-mailmerge==0.5.0
gunicorn==23.0.0
lxml==6.0.2
packaging==25.0
psycopg2==2.9.11
python-decouple==3.8
python-dotenv==1.2.1
soupsieve==2.8.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.11.0
