[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
beautifulsoup4 = "==4.12.3"
django = "==5.0.1"
django-filter = "==23.5"
djangorestframework = "==3.14.0"
gunicorn = "==21.2.0"
python-decouple = "==3.8"
pytz = "==2024.1"
soupsieve = "==2.5"
sqlparse = "==0.4.4"
tzdata = "==2023.4"
whitenoise = "==6.6.0"
celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
