
{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Chris Riewaldt | Software Developer</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	
	<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>


	<link id="theme-style" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static 'assets/css/pillar-1.css' %}">

	<style>
		.modal-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
		}

		.modal-footer .btn {
			margin: 0 5px;
		}

	</style>

</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="row">
				    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
				        <img class="picture" src="assets/images/profile.jpg" alt="">
				    </div><!--//col-->
				    <div class="col">
					    <div class="row p-4 justify-content-center justify-content-md-between">
						    <div class="primary-info col-auto">
							    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{resume.0.name}}</h1>
							    <div class="title mb-3">{{resume.0.desired_title}}</div>
							    <ul class="list-unstyled">
								    <li class="mb-2"><a class="text-link" href="mailto:criewaldt@gmail.com"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>{{resume.0.email}}</a></li>
								    <li><a class="text-link" href="tel:+13478145715"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>{{resume.0.phone}}</a></li>
							    </ul>
						    </div><!--//primary-info-->
						    <div class="secondary-info col-auto mt-2">
							    <ul class="resume-social list-unstyled">
					                <li class="mb-3"><a class="text-link" href="https://www.linkedin.com/in/christopher-riewaldt-a21a531b"><span class="fa-container text-center me-2"><i class="fab fa-linkedin-in fa-fw"></i></span>LinkedIn.com/ChrisRiewaldt</a></li>
					                <li class="mb-3"><a class="text-link" href="https://github.com/criewaldt"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>GitHub.com/CRiewaldt</a></li>
								</ul>
								<br>
								<ul class="resume-social list-unstyled">
									<li class="mb-3"><a class="text-link" href="https://github.com/criewaldt/chrisr-cv"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>Dynamic DRF CV Website: GitHub</a></li>
								</ul>
						    </div><!--//secondary-info-->
					    </div><!--//row-->
					    
				    </div><!--//col-->
			    </div><!--//row-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">{{ resume.0.professional_summary.summary_html|safe }}</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">

									{% for job in resume.0.employment_history.all %}
									
										<article class="resume-timeline-item position-relative pb-5">
											
											<div class="resume-timeline-item-header mb-2">
												<div class="d-flex flex-column flex-md-row">
													<h3 class="resume-position-title font-weight-bold mb-1">{{ job.job_title }}</h3>
													<div class="resume-company-name ms-auto">{{ job.company_name }}</div>
												</div>
												<div class="resume-position-time">
													{{ job.start_date|date:"Y" }} - {{ job.end_date|default:"Present" }}
												</div>
											</div><!--//resume-timeline-item-header-->
											<div class="resume-timeline-item-desc">
												<p>{{ job.description_html|safe }}</p>
											</div><!--//resume-timeline-item-desc-->

										</article><!--//resume-timeline-item-->
									{% endfor %}

							    </div><!--//resume-timeline-->					    
						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Web Development</h4>
									<ul class="list-inline">
										{% for keyword in resume.0.keywords.all %}
											{% if keyword.category == 'web' %}
												<li class="list-inline-item"><span class="badge badge-light">{{keyword.name}}</span></li>
											{% endif %}
										{% endfor %}
						            </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
									<h4 class="resume-skills-cat font-weight-bold">Languages</h4>
						            <ul class="list-inline">
										{% for keyword in resume.0.keywords.all %}
											{% if keyword.category == 'language' %}
												<li class="list-inline-item"><span class="badge badge-light">{{keyword.name}}</span></li>
											{% endif %}
										{% endfor %}
						            </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
						            <ul class="list-inline">
										{% for keyword in resume.0.keywords.all %}
											{% if keyword.category == 'other' %}
												<li class="list-inline-item"><span class="badge badge-light">{{keyword.name}}</span></li>
											{% endif %}
										{% endfor %}
						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
									{% for edu in resume.0.education.all %}
									{{edu}}
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">{{edu.name}}</div>
								        <div class="resume-degree-org">{{edu.school}}</div>
								        <div class="resume-degree-time">{{edu.time}}</div>
								    </li>
									{% endfor %}
								    
							    </ul>
						    </div>
					    </section><!--//education-section-->
					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Licenses & Awards</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
									{% for award in resume.0.awards.all %}
								    <li class="mb-2 ps-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">{{award.name}}</div>
								        <div class="resume-award-desc">{{award.description}}</div>
								    </li>
									{% endfor %}
								    
							    </ul>
						    </div>
					    
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article> 

    
    <footer class="footer text-center pt-2 pb-5">
        <small class="copyright">ChrisRiewaldt.com | 2024</small>
    </footer>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Thanks for visiting Chris Riewaldt.com</h5>
					
				</div>
				<div class="modal-body">
					How would you like to view my CV?
				</div>
				<div class="modal-footer">
					<div class="button-group">
						<a type="button" href="?json" class="btn btn-secondary m-1">JSON</a>
						<!-- <a type="button" href="{% static 'ChrisR_Resume.pdf' " %}" class="btn btn-primary">Download PDF</a> -->
						<a type="button" href="#" id="openEmailModal" class="btn btn-primary  m-1">Email via Celery</a>
					
						<button type="button" class="btn btn-secondary m-1" data-dismiss="modal">HTML</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Message Modal -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="successModalLongTitle">Success!</h5>
					
				</div>
				<div class="modal-body">
					<strong>Success!</strong> Please check: <strong id="sentEmail"></strong>
				</div>
				<div class="modal-footer">
					<div class="button-group">
						<button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Done</button>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Error Modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<strong>Oops! Something went wrong.</strong> Please try again with different values.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitEmailForm()">Retry</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Email The Modal -->
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="emailModalLabel">Download via Celery Task Email</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<!-- Form -->
			<form id="emailForm">
				{% csrf_token %}
				<div class="form-group">
					<p>Enter your email, two integers, and a delay time in seconds: Celery will provide the sum(n1, n2) and a link to my CV.</p>
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" name="email" required>
				</div>
				<div class="form-group">
				<label for="num1">Number 1</label>
				<input type="number" class="form-control" id="num1" name="num1" required>
				</div>
				<div class="form-group">
				<label for="num2">Number 2</label>
				<input type="number" class="form-control" id="num2" name="num2" required>
				</div>
				<div class="form-group">
				<label for="num1">Email Delay Time (seconds: max 60)</label>
				<input type="number" class="form-control" id="delay" name="delay" required>
				</div>
			</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" onclick="submitEmailForm()">Send Email</button>
			</div>
		</div>
		</div>
	</div>



	<!-- Script to trigger modal on page load -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#exampleModalCenter').modal('show');

			$("#openEmailModal").click(function(){
				$('#exampleModalCenter').modal('hide');
				$('#emailModal').modal('show');
			});

			

		});



		
		





		
	</script>

	<script>
		// REST
		function submitEmailForm() {
			const form = document.getElementById('emailForm');
			const formData = new FormData(form);

			fetch('/send-email/', {
				method: 'POST',
				body: formData  // FormData will include the CSRF token
			})
			.then(response => {
				if(response.ok) {
				return response.json();
				}
				throw new Error('Network response was not ok.');
			})
			.then(data => {
				console.log('Success:', data);
				$('#emailModal').modal('hide'); // Hide the modal on success
				$('#sentEmail').html(formData.get('email'));
				$('#successModal').modal('show');
			})
			.catch((error) => {
				console.error('Error:', error);
			});
			}
	</script>

	

    

</body>
</html> 

